.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;
  border: 5pt solid #707070;
  border-radius: 300px;
  pointer-events: none;
}

.App-header {
  background-image: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #398499;
}

button:focus {
  outline: none;
}