.navbarSpot{
    z-index: 1;
}

.topImage {
    width: 100vw;
    height: 30vh;
    z-index: 0;
    background-repeat: no-repeat;
    top: 0;
    position: fixed;
}



.backgroundImage {
    width: 130vw;
    height: 75vh;
    background-repeat: no-repeat;
    
    bottom: 0;
    position: fixed;
    z-index: -1;
}